<section style="float: left;">
    <table>
        <tr>
            <td></td>
        </tr>
    </table>

</section>
<section style="float: left;">
    <table style="padding: 15px; margin: 15px;">
        <tr>
            <td><img src="../../assets/user.PNG" style="width: 35px; height: 35px;"></td>
            <td><h2>Hello</h2></td>
        </tr>
        <br />
        <tr><td></td>
            <td><p>_______________________________</p></td></tr>
        <br />
        <tr>
            <td><img src="../../assets/img1.PNG" style="width: 25px; height: 25px;"></td>
            <td><h6>MY ORDERS></h6></td>
        </tr>
        <br />
        <tr>
            <td><img src="../../assets/account.PNG" style="width: 25px; height: 25px;"></td>
            <td><h6>ACCOUNT SETTING></h6></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Profile Information</p></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Manage Addresses</p></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Pancard Information</p></td>
        </tr>
        <br />
        <tr>
            <td><img src="../../assets/payment.PNG" style="width: 25px; height: 25px;"></td>
            <td><h6>PAYMENTS</h6></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Gift Card</p></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Saved UPI</p></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Saved Cards</p></td>
        </tr>
        <br />
        <tr>
            <td><img src="../../assets/chat.PNG" style="width: 25px; height: 25px;"></td>
            <td><h6>MY CHATS</h6></td>
        </tr>
    </table>
</section>

<section style="float: left;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <form style="border: 2px;">
        <table>
            <tr>
                <td><h6>Personal Information</h6></td>
            </tr>
            <br />
            <tr>
                <td colspan="2"><input type="text" placeholder="First Name"></td>
                <td colspan="2"><input type="text" placeholder="Last Name"></td>
            </tr>
            <br />
            <br />
            <tr>
                <td>Your Gender</td> 
            </tr>
            <br />
            <tr> 
                <td><input type="radio" name="Gender" value="Male"/>Male
                    <input type="radio" name="Gender" value="Feale"/>Female</td>
            </tr>
            <br />
            <br />
            <tr>
                <td>Your Email ID</td> 
            </tr>
            <br />
            <tr> 
                <td><input type="text" placeholder="abc@gmail.com"/></td>
                <td><input type="button" name="Edit" value="Edit"></td>
            </tr>
            <br />
            <br />
            <tr>
                <td>Your <Address></Address></td> 
            </tr>
            <tr> 
                <td><input type="text" placeholder="Address"/></td>
                <td><input type="button" name="Edit" value="Edit"></td>
            </tr>
        </table>
    </form>
</section>
<section style="float: left;">
    <table>
        <tr>
            <td></td>
        </tr>
    </table>

</section>
 
