<div class="form">
    <form style="border: 2px black double;">
        <fieldset>
            <legend>Fill your details</legend>
    <table>
        <tr>
            <td>Enter your First name:</td>
            <td><input type="text" ></td>
            
        </tr>
        <br />
        <tr>
            <td>Enter your Last name:</td>
            <td><input type="text"></td>
        </tr>
        <br />
        <tr>
            <td>Enter your Email Id:</td>
            <td><input type="text" placeholder="abc@gmail.com"></td>
        </tr>
        <br />
        <tr>
            <td>Enter your Mobile No:</td>
            <td><input type="text" placeholder="12345-56789"></td>
        </tr>
        <br />
        <tr>
            <td>Enter your address:</td>
            <td><textarea rows="5" cols="22"></textarea></td>
        </tr>
        <br />
        <tr>
            <td>Select Payment Method</td>
            <td><select name="Payment method">
                <option value="PhonePay">PhonePay</option>
                <option value="GooglePay">GooglePay</option>
                <option value="Paytm">Paytm</option>
                <option value="Card Payment">Card Payment</option>
                <option value="Net Banking">Net Banking</option>
                <option value="Cash On Delivery">Cash On Delivery</option>
            </select></td>
        </tr>
        <br />
        <br />
        <tr>
            <td></td>
            <td><button routerLink="/finalorder" class="btn btn-success">order</button></td>
        </tr>
    </table>
        </fieldset>
    </form>
</div>





